* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix') format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2') format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff') format('woff'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf') format('truetype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7') format('svg');
}

body {
  overflow-x: hidden; 
}

#calculator {
  width: 100%;
  max-width: 430px;
  height: auto;
  margin: 200px auto;
  background-color: #404040;
  padding: 0.1px;
  border: 5px solid black;
  border-radius: 20px;
}

#display {
  width: 100%;
  max-width: 400px;
  height: 100px;
  margin: 10px auto;
  background-color: #BBBBFF;
  border: 3px solid #7777BB;
  border-radius: 6px;
  color: black;
}

.firstLine {
  font-family: digital;
  font-size: 28px;
  width: 100%;
  max-width: 400px;
  height: 30%;
  padding: 10px;
  inline-size: 400px;
  overflow-wrap: break-word;
}

.secondLine {
  font-family: digital;
  font-size: 35px;
  width: 100%;
  max-width: 400px;
  height: 70%;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 10px;
}

#all-pads {
  width: 100%;
  max-width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
  margin: 0 auto 20px auto;
}

#first-columns {
  width: 100%;
  max-width: 300px;
}

#calc-block {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-flow: row wrap;
}

.pad {
  width: 33.33%;
  height: 80px;
  background-color: #FF8050;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  font-weight: bold;
}

.pad:hover {
  cursor: pointer;
  background-color: rgb(209, 57, 65);
  color: white;
}

.double-width {
  width: 66.66%;
}

.double-height {
  height: 160px;
}

.equals, .clear {
  background-color: #a1352c;
}

.delete {
  background-color: #c1554C;
}

.equals:hover, .clear:hover {
  background-color: red;
}

@media (max-width: 600px) {
  #calculator {
    margin: 100px auto;
    width: 100%;
    max-width: 344px;
  }

  #display {
    width: 100%;
    max-width: 320px;
    height: 80px;
    margin: 8px auto;
  }

  .firstLine,
  .secondLine {
    width: 100%;
    max-width: 320px;
    font-size: 22px;
    padding: 8px;
  }

  #all-pads {
    width: 100%;
    max-width: 320px;
    height: 320px;
    margin: 0 auto 16px auto;
  }

  #first-columns, #calc-block {
    width: 100%;
    max-width: 240px;
  }

  .pad {
    width: 33.33%;
    height: 64px;
    font-size: 24px;
  }

  .double-width {
    width: 66.66%;
  }

  .double-height {
    height: 128px;
  }
}